/*common css*/
body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    
}
li,li a:hover{
    text-decoration: none;
}

/*shrink nav css*/
header.shrink {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.99);
  border-bottom: 4px solid darkgoldenrod;
  position: fixed;
  z-index: 999;
  top: -8px;
  left: 6%;
  transition: 0.3s;
}
header.shrink .logo-area, .logo-area a,header.shrink #navbar a,header.shrink .logo-area > p {
   color: #000;;
}



/*header css*/
#header-area {
  background: none repeat scroll 0 0 #81201a;
}
.logo-area, .logo-area a {
  color: #fff;
  text-decoration: none;
}
.logo-area > p {
  font-size: 12px;
}
#navbar > ul {
  text-align: right;
}
#navbar li {
  display: inline;
  line-height: 91px;
  margin-right: 50px;
}
#navbar a {
  color: #fff;
  font-size: 18px;
  transition: 0.2s;
 text-decoration: none;
}
#navbar ul li a:hover, #navbar ul li a:active {
color: black;
    border-top: 2px solid black;
    text-decoration: none;
}
/* grajuet artea css*/
.grajuet-text {
  margin-top: 77px;
}
.grajuet-text > h2 {
  color: #fff;
  font-size: 36px;
  text-transform: capitalize;
}
.grajuet-text > p {
  color: #81201a;
  font-size: 17px;
  line-height: 25px;
  margin-top: 26px;
}
#grajuet-area {
  background: none repeat scroll 0 0 #3e0d09;
}
.grajuet-img {
  margin-left: 44px;
}
.grajuet-img > ul {
  padding: 26px;
}
.grajuet-img li {
  display: inline;
}
.grajuet-img img {
  padding: 6px;
}
/*studentg area css*/
#student-area {
  background: none repeat scroll 0 0 #e4dfcb;
}
.row.all-student-contents {
  background: none repeat scroll 0 0 #fff;
  margin: 20px 109px;
}
.single-student-content {
  margin-left: 7px;
  margin-top: 20px;
}
.single-student-content h3 {
  border-bottom: 1px dotted #000;
  color: #660000;
  font-size: 22px;
  margin-right: 6px;
  padding-bottom: 15px;
}
.single-student-content > p {
  margin-bottom: 20px;
  margin-right: 25px;
}
/*contact area css*/
#contact-area {
  background: none repeat scroll 0 0 #cec6a2;
}
.section-heading {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}
.contact-us .name {
  margin-bottom: 16px;
  margin-top: 16px;
}
.contact-us .textarea {
  margin-bottom: 10px;
}
.contact-us .submit {
  border: medium none;
  height: 32px;
  margin-bottom: 10px;
  width: 76px;
}
.contact-us .reset {
  border: medium none;
  height: 32px;
  width: 76px;
}
.section-heading > h2 {
  font-size: 22px;
}
.contact-person > p {
  line-height: 21px;
  margin-top: 24px;
}
/*footer csss*/

.footer-area {
  background: none repeat scroll 0 0 #250705;
}
.footer-left {
  color: #fff;
    margin-top: 10px;
}
.footer-right {
  color: #fff;
  margin-top: 10px;
  text-align: right;
}





/***************************************************************************************
*RESPONSIVE CSS FROOM HERE*
****************************************************************************************/

/*EXTRA LARGE DESKTOP 1920px*/

@media only screen and (min-width:1920px){
    
    
}

/*LARGE DESKTOP 1366px*/

@media only screen and (min-width:1200px)and (max-width:1919px){
    
    
}

/*medium DESKTOP 990px-1124px*/

@media only screen and (min-width:992px)and (max-width:1199px){
    
    
}

/************ TABLET 768px**************/

@media only screen and (min-width:768px)and (max-width:991px){
    
    
}
/*****all mobile device******/

@media only screen and(max-width:767px){
    
    
}
/****wide screen mobile device******/

@media only screen and (min-width:480px)(max-width:767px){
    
    
}



